<p>Listado de Héroes</p>

<div *ngIf="deleteHero; else templateNoHero">
  <h3>
    <small class="text-danger">
      Heroe eliminado ->
      {{ deleteHero?.name }}
    </small>
  </h3>
</div>

<ng-template #templateNoHero>
  <h3>
    <small class="text-danger"> There is no exist hero to erase </small>
  </h3>
</ng-template>

<button
  *ngIf="heroes.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger"
>
  Borrar
</button>

<ul class="mt-2 list-group">
  <li class="list-group-item" *ngFor="let heroe of heroes">
    {{ heroe.name }}
    {{ heroe.age }}
    <div class="ms-2 me-auto">
      {{ heroe.powers }}
    </div>
  </li>
</ul>
